<!-- horizontal Menu bar-->
<div id="hmenu"> 
  <ul> 
    <li><a href="#">designers</a></li> 
    <li><a href="#">WOMEN'S APPAREL</a></li> 
    <li><a href="#">CUSP</a></li> 
    <li><a href="#">SHOES</a></li> 
    <li><a href="#">HANDBAGS</a></li> 
    <li><a href="#">JEWLERY & ACCESSORIES</a></li> 
    <li><a href="#">BEAUTY</a></li> 
    <li><a href="#">THE MAN'S STORE</a></li> 
    <li><a href="#">NM KIDS</a></li> 
    <li><a href="#">HOME</a></li> 
    <li><a href="#">GIFTS</a></li> 
    <li><a href="#">SALE</a></li> 
  </ul>   
</div> 
<div class="container owl-slider">
    <h4 class="hidden-content">Products</h4>
    <div id="owl-demo-1" carousel="products" class="owl-carousel owl-theme">
    </div>
</div>
<div id="footer-promo" class="center-block">
	<div class="col-md-2">1</div>
	<div class="col-md-2">2</div>
	<div class="col-md-2">3</div>
	<div class="col-md-2">4</div>
  <div class="col-md-4">
		<form class="form-inline">
		  <div class="form-group">
		    <label for="exampleInputName2">FOR FASHION AND SALES NEWS, </label>
		    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
		  </div>
		  <button type="submit" class="btn btn-default">Sign in</button>
		</form>
  </div>
</div>